<div class="row">
  <div id="page-title" class="small-4 small-centered medium-uncentered">All Tasks</div>
</div>

<% @contexts.each do |context| -%>
  <% unless context.tasks.empty? -%>
    <div class="context row">
      <h5 class="task-group-name"><%= context.name %></h5>
      <%= render partial: 'task_list', locals: { tasks: context.tasks } %>
    </div>
  <% end =%>
<% end =%>

<br />

<%= link_to 'New Task', new_task_path %>
