<div class="page-title row">
  <h2>All Tasks</h2>
</div>

<% @tasks_by_context.each do |context| -%>
  <div class="context row">
    <h4 class="context-name"><%= context.name %></h4>
    <%= render partial: 'task_list', locals: { tasks: context.tasks } %>
  </div>
  <hr />
<% end =%>

<br />

<%= link_to 'New Task', new_task_path %>
