// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task-form {
  margin: 2em;
}

.task-group {
  margin: 0 0 1.5em 0;
}

.task-group.empty {
  font-style: oblique;
  text-indent: 2em;
}

.task-group-name {
  font-weight: bold;
  border-bottom: thick solid #666;
}

.task-group .task {
  padding: .8em 1em 0;
}

.task-group .task:nth-child(odd) {
  background-color: #eee;
}

.task > .due,
.task > .info,
.task > .edit {
  text-align: center;
}

.task a {
  color: #0a0a0a;
}

.task.row.due_past {
  color: #cc0000;
}

.task.row.due_today {
  color: #cc9900;
}

